  <!-- <p>Name, number, email address, aadhaar, gender, accept btn, if reject enter reason submit button</p> -->
  <h2 class="title alert alert-warning">Employees Details</h2>
  <div class="card shadow" style="width: 65rem;">
    <ngx-datatable
  class="material"
  [rows]="userProfileData"
  [columns]="newJoineesColumns"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [scrollbarH]="true"
    >
    </ngx-datatable>
  </div>
  <ng-template #familyButton let-row="row">
    <button *ngIf="row.profileFamily!='No family Added'" (click)="onFamily(row.profileFamily)" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Family Details
    </button>
    <p *ngIf="row.profileFamily=='No family Added'">No Family Added</p>
  </ng-template>

    <ng-template #acceptButton let-row="row">
      <button (click)="onAccept()" class="btn btn-success">
        Accept
      </button>
    </ng-template>

    <ng-template #declineButton let-row="row">
      <button (click)="onDecline(row)" class="btn btn-danger" type="button" >
          Decline
        </button>
    </ng-template>
    <h1>Rejected Applications</h1>
  <ngx-datatable
class="material"
[rows]="rejected"
[columns]="rejectedColumns"
[headerHeight]="50"
[footerHeight]="50"
[rowHeight]="'auto'"
[scrollbarH]="true"
  >
  </ngx-datatable>
    
  <ng-template #declineButton let-row="row">
    <button class="btn btn-danger" type="button">
        Delete
      </button>
  </ng-template>
    <!-- <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Reason</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    @@ -29,6 +53,34 @@ <h5 class="offcanvas-title" id="offcanvasExampleLabel">Reason</h5>
        <div>
          <h3>Mention reason: </h3>
          <textarea placeholder="Enter here" name="" id="" cols="30" rows="10"></textarea>
          <button class="btn btn-danger" >Confirm Decline</button>
        </div>
      </div>
    </div> -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Family Details</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ngx-datatable
            #datatable
      class="custom-datatable table "
      [rows]="newjoineesFamilyArr"
      [columns]="newJoineesFamilyColumn"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
            >

            </ngx-datatable>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>

    