<h2 class="title alert alert-warning">Pending HR requests</h2>
<div class="card shadow" style="width: 65rem;">
    <ngx-datatable
  class="material"
  [rows]="JansevakArr"
  [columns]="jansevakArrColumns"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [scrollbarH]="true"
    >
    </ngx-datatable>
  </div>
    <ng-template #acceptButton let-row="row">
      <button (click)="onAccept()" class="btn btn-success">
        Accept
      </button>
    </ng-template>

    <ng-template #declineButton let-row="row">
      <button (click)="onDecline(row)" class="btn btn-danger" type="button" >
          Decline
        </button>
    </ng-template>
<h2 class="title alert alert-warning" style="width: 34%;">Rejected HR requests</h2>
<div class="card shadow" style="width: 65rem;">
    <ngx-datatable
  class="material"
  [rows]="rejectedJansevakArr"
  [columns]="rejectedJansevakArrColumns"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [scrollbarH]="true"
    >
    </ngx-datatable>
  </div>