<div>
    <form [formGroup]="familyForm" (ngSubmit)="onFamilySubmit()">        
        
        <br><label>
            Enter Full Name:-
            <input type=" text " placeholder=" John Aaron Smith " formControlName="familyFullName"> 
            <div *ngIf="familyForm.get('familyFullName')?.invalid && familyForm.get('familyFullName')?.touched">
                <ng-container *ngIf="familyForm.get('familyFullName')?.errors?.['required']">
                    Please Enter your Full Name.
                </ng-container>
            </div>
        </label>
        <br><label>
            Enter Mobile Number:-
            <input type="number" placeholder=" 77xxxxxx01 " formControlName="familyMobNumber">
            <div *ngIf="familyForm.get('familyMobNumber')?.invalid && familyForm.get('familyMobNumber')?.touched">
                <ng-container *ngIf="familyForm.get('familyMobNumber')?.errors?.['required']">
                    Please Enter your Mobile Number.
                </ng-container>
                <ng-container *ngIf="familyForm.get('familyMobNumber')?.errors?.['pattern']">
                    Please Enter a 10 Digit Mobile Number.
                </ng-container>
            </div>
        </label>
        <br><label>
            Enter Full Address:-
            <input type="text" placeholder=" Enter Full Address" formControlName="familyFullAdd">
            <div *ngIf="familyForm.get('familyFullAdd')?.invalid && familyForm.get('familyFullAdd')?.touched">
                <ng-container *ngIf="familyForm.get('familyFullAdd')?.errors?.['required']">
                    Please Enter your Full Address.
                </ng-container>
            </div>
        </label>
        <br><label>
            Enter Aadhar Card Number:-
            <input type="number" placeholder=" 20xxxxxxxx12" formControlName="familyAadharNum">
            <div *ngIf="familyForm.get('familyAadharNum')?.invalid && familyForm.get('familyAadharNum')?.touched">
                <ng-container *ngIf="familyForm.get('familyAadharNum')?.errors?.['required']">
                    Please Enter your Aadhar Number.
                </ng-container>
                <ng-container *ngIf="familyForm.get('familyAadharNum')?.errors?.['pattern']">
                    Please Enter a 12 Digit Aadhar Number.
                </ng-container>
            </div>
        </label>
        <br><label>
            Enter Voter ID Number:-
            <input type="text" placeholder=" ABC12xxxxx " formControlName="familyVoterId">
            <div *ngIf="familyForm.get('familyVoterId')?.invalid && familyForm.get('familyVoterId')?.touched">
                <ng-container *ngIf="familyForm.get('familyVoterId')?.errors?.['required']">
                    Please Enter your Voter ID.
                </ng-container>
                <ng-container *ngIf="familyForm.get('familyVoterId')?.errors?.['pattern']">
                    Please Enter a valid Voter ID.
                </ng-container>
            </div>
        </label>
        <br><label>
            Select your gender
            <input type="radio" value="Male"    formControlName="familyGender"/> Male
            <input type="radio" value="Female" formControlName="familyGender"/> Female
            <input type="radio" value="Other" formControlName="familyGender"/> Other
            <div *ngIf="familyForm.get('familyGender')?.invalid && familyForm.get('familyGender')?.touched">
                <ng-container *ngIf="familyForm.get('familyGender')?.errors?.['required']">
                    Please select a gender.
                </ng-container>
            </div>
        </label>
        
        
        <br><button type="submit" [disabled]="familyForm.invalid" >Add Family</button>
        &nbsp;<button type="button" (click)="noFamily()">Go to main page</button>
    </form>
</div>
