<br>
<div class="nagrikform">
  <div class="card shadow" style="width: 50rem;">
    <h5 class="card-title mb-3" id="title">ADD HR</h5>

    <div class="formright mb-3">
      <form [formGroup]="AddJansevakForm" (ngSubmit)="onSubmit()" class="row g-3">
        <div class="col-md-6">
          <label for="inputname" class="form-label" id="lt">Full Name</label>
          <input formControlName="name" type="text" class="form-control" placeholder="Enter Full Name" id="input">
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input formControlName="email" type="email" class="form-control" placeholder="Enter Email" id="input">
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label mb-3 ">Gender</label><br>
          <div class="form-check form-check-inline">
            <input formControlName="gender" class="form-check-input" type="radio" id="inlineRadio1" value="Male">
            <label class="form-check-label" for="inlineRadio1">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input formControlName="gender" class="form-check-input" type="radio" id="inlineRadio2" value="Female">
            <label class="form-check-label" for="inlineRadio2">Female</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-6">
            <label for="inputmob" class="form-label">Phone No</label>
            <input formControlName="mobileNo" type="number" placeholder="Enter Phone No" class="form-control"
              id="input">
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-6">
            <label for="inputward" class="form-label">Age</label>
            <input type="number" formControlName="age" placeholder="Enter Age" class="form-control" id="input">
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-6">
            <label for="inputaddress" class="form-label">Address</label>
            <input type="text" formControlName="address" placeholder="Enter Address" class="form-control" id="input">
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-6">
            <label for="inputadhar" class="form-label">Adhar No</label>
            <input type="number" formControlName="aadhaar" placeholder="Enter Adhar No" class="form-control" id="input">
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-6">
            <label for="inputvoter" class="form-label">Voter ID</label>
            <input type="text" formControlName="voterId" placeholder="Enter Voter ID" class="form-control" id="input">
          </div>
        </div>
        <button [disabled]="AddJansevakForm.invalid" class="btn" type="submit" id="submitbutton">Submit</button>



      </form>
    </div>

  </div>

</div>