<br><br>
<ul class="nav nav-pills mb-4 gap-3" id="pills-tab" >
              
    <div class="card shadow" style="width: 16rem;">
        <button (click)="boolFalse()" class="nagrikbut" id="pills-Total-Nagrik-tab" data-bs-toggle="pill" data-bs-target="#pills-Total-Nagrik" type="button"
            aria-controls="pills-Total-Nagrik" aria-selected="true" >
            <div class="card-body d-grid gap-3 d-md-flex mb-2">
                <div class="box">
                    <i class="bi bi-people-fill"></i>
                </div>
                <h5 class="card-title mb-3">Total Nagrik</h5>
            </div>
            <h6 id="sub">{{acceptedJoinees.length}}</h6>
        </button>
    </div>
    <div class="card shadow" style="width: 16rem;">
        <button (click)="boolFalse()" class="nagrikbut" id="pills-Total-Jansevak-tab" data-bs-toggle="pill" data-bs-target="#pills-Total-Jansevak" type="button" role="tab" aria-controls="pills-Total-Jansevak" aria-selected="false" >
            <div class="card-body d-grid gap-3 d-md-flex mb-2">
                <div class="box">
                    <i class="bi bi-people-fill"></i>
                </div>
                <h5 class="card-title mb-3">Total Jansevak</h5>
            </div>
            <h6 id="sub" *ngIf="jansevakArr?.length>0">{{jansevakArr?.length}}</h6>
            <h6 id="sub" *ngIf="!(jansevakArr?.length>0)">0</h6>
        </button>
    </div>
    <div class="card shadow" style="width: 16rem;">
        <button (click)="boolFalse()" class="nagrikbut" id="pills-Total-Complaints-tab" data-bs-toggle="pill" data-bs-target="#pills-Total-Complaints" type="button" role="tab" aria-controls="pills-Total-Complaints" aria-selected="false" >
            <div class="card-body d-grid gap-3 d-md-flex mb-2">
                <div class="box">
                    <i class="bi bi-people-fill"></i>
                </div>
                <h5 class="card-title mb-3">Total Complaints</h5>
            </div>
            <h6 id="sub">{{nagrik.length}}</h6>
        </button>
    </div>
    <div class="card shadow" style="width: 16rem;">
        <button (click)="boolFalse()" class="nagrikbut" id="pills-Total-Complaints-tab" data-bs-toggle="pill" data-bs-target="#pills-Total-Complaints" type="button" role="tab" aria-controls="pills-Total-Complaints" aria-selected="false" >
            <div class="card-body d-grid gap-3 d-md-flex mb-2">
                <div class="box">
                    <i class="bi bi-people-fill"></i>
                </div>
                <h5 class="card-title mb-3">Admin Name</h5>
            </div>
            <h6 id="sub2">Administrator</h6>
        </button>
    </div>
</ul>
<div *ngIf="bool" class="graphs d-grid gap-2 d-md-flex">
    <div class="barchart">
        <div class="card shadow"  style="width: 100%; padding: 10px;">
            <div class="card-body d-grid d-md-flex mb-2">
                <h5 class="card-title mb-3">Total Nagrik</h5>
                <!-- <button class="btn  me-md-2 shadow" type="button" id="butbar"><i class="bi bi-list"></i></button> -->
            </div>
            <div class="bar">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

    <div class="piechart">
        <div class="card shadow "  style="width: 26.3rem;padding: 10px;">
            <div class="card-body d-grid gap-4 d-md-flex mb-2">
                <h5 class="card-title mb-3">Total Complaints</h5>
                <!-- <button class="btn  me-md-2 shadow" type="button" id="butpie"><i class="bi bi-list"></i></button> -->
            </div>
            <div class="pie">
                <canvas id="piechart"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="tab-content" id="pills-tabContent">
<div class="tab-pane fade" id="pills-Total-Nagrik" role="tabpanel" aria-labelledby="pills-Total-Nagrik-tab" tabindex="0">
<div class="card shadow"> 
    <ngx-datatable
    #datatable
    class="custom-datatable table "
    [rows]="acceptedJoinees"
    [columns]="acceptedJoineesColumns"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
  >
</ngx-datatable>
</div>
</div>

<div class="tab-pane fade" id="pills-Total-Jansevak" role="tabpanel" aria-labelledby="pills-Total-Jansevak-tab" tabindex="0">
<div class="card shadow">
    <ngx-datatable
    #datatable
    class="custom-datatable table"
    [rows]="jansevakArr"
    [columns]="jansevakArrColumns"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
  >
</ngx-datatable>
</div>
</div>

<div class="tab-pane fade" id="pills-Total-Complaints" role="tabpanel" aria-labelledby="pills-Total-Complaints-tab" tabindex="0">
<div class="card shadow">
    <ngx-datatable
    #datatable
    class="custom-datatable table"
    [rows]="nagrik"
    [columns]="allComplaintsColumns"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    columnMode="force"
  >
</ngx-datatable>
<ng-template #assignHRButton let-row="row">
    <button (click)="assignHr(row)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Assign HR
    </button>
    <!-- <p *ngIf="row.profileFamily=='No family Added'">No Family Added</p> -->
  </ng-template>

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Assign HR</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div *ngIf="jansevakArr.length==0"> 
               <p style="color: red;">
                    No registered HRs to assign    
                </p>  
            </div>
            <div *ngIf="jansevakArr.length!=0">
                <form action="" [formGroup]="assignHrForm" (ngSubmit)="hrName()">
                    Select HR from list
                    <select name="" id="" formControlName="name">
                        <option *ngFor="let hr of jansevakArr" value={{hr.name}}>{{hr.name}}</option>
                    </select>
                    <button type="submit" class="btn btn-primary" >Assign HR</button>
                </form>
            </div>
            
        </div>
        
      </div>
    </div>
  </div>
</div>
<!-- aadhaar : 34 -->
<!-- address : "qwerty" -->
<!-- email :"wertyu" -->
<!-- gender : "male" -->
<!-- name : "wertyu" -->
<!-- voterId : 234354 -->

<!-- 
Complaints in local storage [{
"complaintPhoto":"C:\fakepath\main-Logo.png",
"complaintCategory":"Compensation",
"complaintSubject":"Pagar badhao",
"complaintDescription":"Pagar is too loww",
"complaintAssignedHR":"",
"complaintStatus":"Pending",
"complaintCreateTime":"15th March 2024"}] -->