<div class="d-flex align-items-start ">
  <div class="nav flex-column nav-pills me-3 card " style="height: 40.56rem; border-radius: 0; width: 15rem;" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <br><br><br><br>
      <!-- this are temporary buttons -->
      <button class="btn btn-primary" (click)="toProfileSetup()">
        Profile Setup
      </button>
      <button class="btn btn-primary" (click)="toFamilySetup()">
        family Setup
      </button>
      <!-- temporary buttons ends here -->      
      <button class="nav-link" id="pills-Profile-tab" data-bs-toggle="pill" data-bs-target="#pills-Profile"  type="button" role="tab" aria-controls="pills-home" aria-selected="true" (click)="showDashboard()">
        Dashboard
      </button>
      <button class="nav-link" id="pills-Profile-tab" data-bs-toggle="pill" data-bs-target="#pills-Profile"  type="button" role="tab" aria-controls="pills-Add-Jansevak" aria-selected="false" (click)="showAddJansevak()">
        Add Jansevak
      </button>
      <button class="nav-link" id="pills-Profile-tab" data-bs-toggle="pill" data-bs-target="#pills-Profile"  type="button" role="tab" aria-controls="pills-Add-Announcement" aria-selected="false" (click)="showAddAnnouncement()">
          Add Announcement
        </button>
      <button class="nav-link" id="pills-Profile-tab" data-bs-toggle="pill" data-bs-target="#pills-Profile"  type="button" role="tab" aria-controls="pills-Add-Notifications" aria-selected="false" (click)="showAddNotification()">
        View Notifications
      </button>
      <button class="nav-link" id="pills-view-Nagrik-tab" data-bs-toggle="pill" data-bs-target="#pills-view-Nagrik"
          type="button" role="tab" aria-controls="pills-view-Nagrik" aria-selected="false" (click)="showViewNagrik()">View Nagrik</button>
      <button class="nav-link" id="pills-Profile-tab" data-bs-toggle="pill" data-bs-target="#pills-Profile" type="button"
          role="tab" aria-controls="pills-Profile" aria-selected="false" (click)="showProfile()">Profile</button>
  </div>

      <div style="max-width: 85%;" *ngIf="componentName == 'dashboard'">
          <app-dashboard></app-dashboard>
      </div>

      <div *ngIf="componentName == 'jansevak'" >
        <app-add-jan-sevak ></app-add-jan-sevak>
      </div>

      <div *ngIf=" componentName == 'announcement'">
        <app-add-announcement></app-add-announcement>
      </div>

      <div *ngIf=" componentName == 'notification'" >
        <app-add-notification></app-add-notification>
      </div>

      <div *ngIf="componentName == 'nagrik'" >
        <app-add-nagrik></app-add-nagrik>
      </div>

      <div *ngIf="componentName == 'profile'" >
        <app-add-profile></app-add-profile>
      </div>
     
  </div>
<router-outlet></router-outlet>